@page
@model Backend.Pages.ContainersModel
@{
    var containers = await Model.Context.GetAllContainersAsync();
}
<link rel="stylesheet" href="~/lib/datatables/jquery.dataTables.min.css"/>

<h1 class="text-center">Containers</h1>

<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-3">
                <label for="blockFilter" class="form-label">Block filter</label>
                <input type="email" class="form-control" id="blockFilter" onchange="handleFiltering()">
            </div>
            <div class="col-3">
                <label for="bayFilter" class="form-label">Bay filter</label>
                <input type="email" class="form-control" id="bayFilter" onchange="handleFiltering()">
            </div>
            <div class="col-3">
                <label for="stackFilter" class="form-label">Stack filter</label>
                <input type="email" class="form-control" id="stackFilter" onchange="handleFiltering()">
            </div>
            <div class="col-3">
                <label for="tierFilter" class="form-label">Tier filter</label>
                <input type="email" class="form-control" id="tierFilter" onchange="handleFiltering()">
            </div>
        </div>
    </div>
    <div class="col-12">
        <hr />
    </div>
    <div class="col-12">
        <div class="alert alert-dark alert-dismissible" role="alert">
            To use multiple ordering use <pre class="d-inline">shift</pre> clicks.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <div class="col-12">
        <table class="table table-striped table-hover" id="containers-table">
            <thead>
                <tr>
                    <th scope="col">
                        Container Id
                    </th>
                    <th scope="col">
                        Block Id
                    </th>
                    <th scope="col">
                        Bay #
                    </th>
                    <th scope="col">
                        Stack #
                    </th>
                    <th scope="col">
                        Tier #
                    </th>
                    <th scope="col">
                        Arrival
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/lib/datatables/jquery.dataTables.min.js"></script>
    <script>
        let table = new DataTable('#containers-table', {
            serverSide: true,
            ordering: true,
            orderMulti: true,
            ajax: {
                url: '/api/ajax/containers',
                type: 'GET'
            },
            columns: [
                { 
                    data: 'id' 
                },
                {
                    data: 'blockId',
                    type: 'num'
                },
                {
                    data: 'bayNum',
                    type: 'num'
                },
                {
                    data: 'stackNum',
                    type: 'num'
                },
                {
                    data: 'tierNum',
                    type: 'num'
                },
                { 
                    data: 'arrivedAt',
                    type: 'date'
                }
            ]
        });

        function handleFiltering() {
            const blockFilter = document.querySelector("#blockFilter");
            const bayFilter = document.querySelector("#bayFilter");
            const stackFilter = document.querySelector("#stackFilter");
            const tierFilter = document.querySelector("#tierFilter");

            table.columns(1)
                .search(blockFilter.value)
                .columns(2)
                .search(bayFilter.value)
                .columns(3)
                .search(stackFilter.value)
                .columns(4)
                .search(tierFilter.value)
                .draw();
        }
    </script>
}

