@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Container management system</h1>
    <p>Large software development company</p>
</div>
