html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.visualizer {
    height: 700px;
}

table.containermap {
    border: 2px solid black;
}

table.containermap>tbody>tr>td{
    width: 65px;
    overflow-wrap: anywhere;

    border: 1px dotted black;
}

table.containermap > tbody > tr > td > div {
    font-size: 0.80em;
}